<article id="item-{{sku}}" class="item update">

    <div class="icon"><i class="{{iconclass}}"></i></div>

    <div class="text-con">
        <div class="big-text">
            {{from_quant}} <i class="fa-solid fa-arrow-right"></i> {{to_quant}}
        </div>
        <div class="info-text">
            {{manage_stock}}
        </div>

    </div>

    <div class="content">

        <h3 class="type">{{post_type}}</h3>
        <h2 class="title">{{title}}</h2>
        <h4 class="attr">{{attributes}}</h4>
        <h4 class="type">{{description}}</h4>

        <dl class="metadata">
            <dt>{{price_title}}</dt>
            <dd>{{regular_price}}{{sale_price}}</dd>
            <dt>{{weight_title}}</dt>
            <dd>{{weight}}</dd>
            <dt>{{quantity_title}}</dt>
            <dd>{{stock_quantity}}</dd>
            <dt>{{sku_title}}</dt>
            <dd>{{sku}}</dd>
        </dl>
    </div>

</article>